<template>
  <div class="Steam">
    <b-card style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
      <b-card-text>
        {{ user.steam_id }}
      </b-card-text>
    </b-card>
  </div>
</template>

<script>
    export default {
        props: {

        },
        computed: {
            user () {
                return this.$store.getters.getUser
            }
        }
    }
</script>
