<template>
  <b-container class="vh-center">
    <b-card title="Welcome" v-if="!user">
      To access our community, we need to verify ownership of any of these games.
      <ul>
        <li
          v-for="game in requiredGames"
          :key="game.steamID">
          <a :href="'https://store.steampowered.com/app/' + game.steamID" target="_blank">
            {{ game.name }}
          </a>
        </li>
      </ul>

      <p>
        Validation is done through Steam's OpenID.<br>
        <small>This process takes place on Steam's servers, not ours.</small>
      </p>

      <p>
        <a href="/openid-redirects">
          <img alt="Steam OpenID" src="https://steamcommunity-a.akamaihd.net/public/images/signinthroughsteam/sits_01.png">
        </a>
      </p>
    </b-card>
  </b-container>

</template>

<script>
  /* eslint no-console: ["error", { allow: ["log", "warn", "error"] }] */
  export default {
      name: 'login',
      methods: {
        getMe ()  {
            this.$http.get('/api/v1/user/me')
            .then((resp) => {
                this.$store.commit('setUser', resp.data)
                this.$router.push('/')
            })
            .catch((error) => {
                console.log(error.response.status)
            })
        }
      },
      computed: {
          user () {
              return this.$store.state.user
          },
          requiredGames () {
              return this.$store.state.requiredGames
          }
      },
      beforeMount() {
          this.getMe()
      }
  }
</script>

<style>
  .vh-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
</style>
